@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($val, 1fr));
}

@mixin flex($aligin-item, $justify-content) {
    display: flex;
    align-items: $aligin-item;
    justify-content: $justify-content;
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}
@mixin overlay(){
    background: rgba(32, 32, 34, 0.5);
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}