$bg-color: #16181e;
$second-color: #21242D;
$main-color: #00B9AE;
$txt-white: #F9F9F9;
$bg-input: #21242D;
$background: rgba(249, 249, 249, 0.2);


$mobile-width: 740px;
$tablet-width: 1113px;
$leftSide-width: 224px;
$leftSide-width-responsive: 164px;
$leftSide-width-sm: 60px;
$rightSide-width: 320px;

$offset: 187;
$duration: 1.4s;