.recent{
    padding: 3rem 0 2rem 1rem;
    &__wrap{
        margin-top: 10rem;
    }
    &__container{
        @include grid(20rem);
        gap: 2rem;
    }
    &__heading{
        font-size: 2rem;
        font-weight: 600;
        color: $txt-white;
        margin: 4rem 0 2rem 2rem;
    }
    h2{
        @include flex(center, center);
        transform: translateY(200px);
        color: $txt-white;
        font-size: 4rem;
    }
}