input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.auth {
  background: linear-gradient(90deg, #16181e, #243b55);
  position: relative;
  height: 100vh;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40rem;
  padding: 4rem;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 18px 10px 25px rgb(0 0 0 / 30%);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 3rem;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent !important;
  text-transform: none;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 1rem;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-box .user-box input:not(:placeholder-shown) + label,
.login-box .user-box input:focus + label {
  top: -25px;
  left: 0;
  color: #03e9f4;
}
.login-box .user-box input:not(:placeholder-shown),
.login-box .user-box input:focus {
  border-bottom: 1px solid $main-color;
}

.login-box form .btn__submit {
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  color: #03e9f4;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 2rem;
  letter-spacing: 4px;
}

.login-box .btn__submit:hover {
  background: #03e9f4;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #03e9f4, 0 0 0px #03e9f4, 0 0 0px #03e9f4, 0 0 20px #03e9f4;
}

.login-box .btn__submit span {
  position: absolute;
  display: block;
}

.login-box .btn__submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
.redirect{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: $txt-white;
  letter-spacing: 1px;
  margin-top: 2rem;
  gap: 0 1rem;
  transition: all 0.25s ease-in;
  a:hover{
    color: $main-color;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box .btn__submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box .btn__submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box .btn__submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
